div.header{
	background-color: #52ade1;
	top: 0;
	width: 100%;
	position: fixed;
	z-index: -1;
}

div.header .logo_with_text{
	background: url('../img/logos/logo_with_text.png') no-repeat;
	background-position: 0 55px;
	margin: 0 auto;
	padding: 55px 0;
	width: 269px;
	height: 162px;
}

div.header .slogan{
	margin: 0 auto;
	text-align: center;
	padding: 55px 0 85px;
}

div.header h1{
	color: #00476f;
	font-size: 51px;
}

div.header h2{
	color: #fffff8;
	font-size: 42px;
}

div.header h1,
div.header h2{
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 auto;
	padding: 0;
}

div.header .cta{
	text-align: center;
	padding: 0 0 130px;
}

div.header .down_arrow{
	background: url('../img/global/down_arrow.png') no-repeat;
	margin: 0 auto;
	width: 29px;
	height: 16px;
	padding: 0 0 35px;
}

#content{
	background-color: #fffff8;
	margin-top: 760px;
}

#content > div{
	width: 100%;
	text-align: center;
	padding: 115px 0 60px;
}

#content > div.blue{
	background-color: #52ade1;
}

#content > div.white{
	background-color: #fffff8;
}

#content > div > h3{
	text-transform: uppercase;
	border-bottom: 6px solid #a0d7f5;
	margin: 0 auto;
	display: inline;
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 50px;
}

#content > div.white > h3.marker{
	background: url('../img/logos/logo_blue_icon.png') no-repeat;
}

#content > div.blue > h3.marker{
	background: url('../img/logos/logo_white_icon.png') no-repeat;
}

#content > div > h3.marker{
	width: 56px;
	height: 56px;
	display: block;
	margin: 0 auto;
	border-bottom: none;
	padding-bottom: 25px
}

#content > div.white > h3{
	color: #000000;
}

#content > div.blue > h3{
	color: #fffff8;
}

#content #the_difference > div{
	padding: 90px 10px 80px;
}

#content #the_difference > div > div.text_list{
	width: 45%;
	max-width: 600px;
	min-width: 300px;
	display: inline-block;
	vertical-align: top;
}

#content #the_difference > div > div.text_list h6{
	background: url('../img/global/list_diamond_marker.png') no-repeat;
	width: 52px;
	height: 52px;
	text-align: center;
	line-height: 52px;
	margin: 0 auto;
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
}

#content #the_difference > div > div.text_list h4{
	font-size: 30px;
	font-weight: bold;
	padding: 20px 0;
}

#content #the_difference > div > div.text_list .text_box{
	padding: 20px 10px;
}

#content #multi_lingual h4{
	font-size: 24px;
	font-weight: bold;
	padding: 45px 10px;
	white-space: pre-wrap;
	line-height: 40px;
}

#content #why_choose_us p{
	text-align: center;
	padding: 45px 10px;
	max-width: 960px;
	margin: 0 auto;
}

#content #about_us h4{
	font-size: 24px;
	font-weight: bold;
	padding: 45px 10px;
	white-space: pre-wrap;
	line-height: 40px;
	max-width: 960px;
	margin: 0 auto;
}

#content #why_choose_us h4{
	font-size: 24px;
	font-weight: bold;
	padding: 45px 10px;
	white-space: pre-wrap;
	line-height: 40px;
}

#content #practice_areas .list{
	padding: 45px 0;
	max-width: 799px;
	margin: 0 auto;
}

#content #practice_areas .list .box_container{
	width: 248px;
	height: 148px;
	display: inline-block;
	margin: 7px;
	vertical-align: top;
}

#content #practice_areas .list .box{
	min-width: 300px;
	max-width: 799px;
	width: 248px;
	height: 148px;
	perspective: 1000;
	-webkit-perspective: 1000;
}

#content #practice_areas .list .outer_box{
	border: 2px solid #a0d7f5;
	width: 248px;
	height: 148px;
	vertical-align: top;
	cursor: pointer;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	transition: all .5s linear;
	-webkit-transition: all .5s linear;
}

#content #practice_areas .list .outer_box:hover .inner_box.front{
	background-color: #52ade1;
}

#content #practice_areas .list .inner_box{
	border: 2px solid #fffff8;
	background-color: #a0d7f5;
	height: 144px;
	overflow: hidden;
	clear: both;
	position: absolute;
	width: 244px;
	height: 144px;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

#content #practice_areas .list .inner_box.front{
	width: 98%;
	width: calc(100% - 4px);
	height: 98%;
	height: calc(100% - 4px);
}

#content #practice_areas .list .inner_box.back{
	display: block;
	transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
	box-sizing: border-box;
	padding: 10px;
	color: white;
	text-align: left;
	width: 100%;
	height: 100%;
	background-color: #52ade1;
	clear: both;
	overflow: auto;
	cursor: auto;
}

#content #practice_areas .list .inner_box.back .close_button{
	font-size: 30px;
	text-align: right;
	float: right;
	cursor: pointer;
	color: #00476f;
}

#content #practice_areas .list .inner_box h4{
	color: #fffff8;
	font-size: 32px;
	font-weight: bold;
	text-align: left;
	padding: 15px 0 35px 15px;
}

#content #practice_areas .list .inner_box h5{
	color: #fffff8;
	font-size: 25px;
	font-weight: bold;
	text-align: left;
	padding: 0 20px 0 0;
	text-transform: uppercase;
	float: right;
}

#content #practice_areas .list .inner_box h4 span{
	font-weight: normal;
}

#content #practice_areas .list .inner_box .btn{
	text-align: center;
}

#content #practice_areas .list .inner_box button{
	margin: 50px auto;
}

#content #our_process > div{
	padding: 50px 0 0;
}

#content #our_process div.step{
	display: inline-block;
	width: 300px;
	padding: 10px;
	vertical-align: top;
}

#content #our_process h4{
	color: #fffff8;
	font-size: 28px;
	font-weight: bold;
	text-align: left;
}

#content #our_process p{
	color: #fffff8;
	font-size: 20px;
	margin: 10px 0;
}

#content .content_cta{
	margin: 0 auto;
	padding: 90px 10px 90px !important;
	border-top: 1px solid #00476f;
	border-bottom: 1px solid #00476f;
	max-width: 960px;
}

#content .content_cta h6{
	display: inline-block;
	font-size: 21px;
	font-weight: bold;
	color: #00476f;
	margin: 0 0 25px 0;
}

#content .content_cta h6:nth-child(3){
	padding: 0 37px;
}

#content > div:last-child .content_cta{
	border-bottom: none;
}

#content .content_cta h3{
	font-size: 30px;
	font-weight: bold;
	color: #00476f;
	padding-bottom: 30px;
}

#content #the_retainer > div,
#content #disclaimer > div{
	padding: 50px 10px 0;
	max-width: 800px;
	margin: 0 auto;
}

#content #disclaimer{
	padding-top: 0;
}

#content #about_us > div{
	padding: 50px 10px 50px;
	max-width: 1080px;
	margin: 0 auto;
}

#content #about_us > div > div{
	display: inline-block;
	vertical-align: top;
	margin: 10px;
}

#content #about_us > div > div.laila_archer{
	width: 100%;
	max-width: 307px;
	margin: 10px 0;
}

#content #about_us .img{
	border: 3px solid #00476f;
	overflow: hidden;
}

#content #about_us .img img{
	margin-bottom: -2px;
}

#content #about_us .text{
	max-width: 700px;
}

#content #about_us .email:hover{
	cursor: pointer;
	color: #52ade1;
}

#content #about_us .laila_archer .info{
	margin-top: 23px;
}

#content #about_us .laila_archer h6{
	font-size: 18px;
	text-align: left;
	font-weight: bold;
	line-height: 25px;
	color: #00476f;
}

#content #disclaimer p{
	font-size: 12px;
	line-height: 18px;
}

#content #disclaimer p .title{
	font-weight: bold;
	text-transform: uppercase;
}

/* Contact Us */

#contact_us{
	background-color: #52ade1;
	padding: 20px 10px;
	position: fixed;
	width: 98%;
	width: calc(100% - 20px);
	height: 0;
	top: -100%;
	left: 0;
	z-index: 99998;
	overflow: auto;
}

#contact_us .back_link,
#contact_us .close_link{
	border-bottom: 3px solid #ffffff;
	color: #ffffff;
	display: inline-block;
	margin-left: 35px;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	cursor: pointer;
}

#contact_us .back_link::before{
	content: url('../img/global/back_icon.png') no-repeat;
	position: absolute;
	margin-left: -35px;
}

#contact_us .close_link::before{
	content: url('../img/global/close_icon.png') no-repeat;
	position: absolute;
	margin-left: -35px;
}

#contact_us .logo_with_text{
	background: url('../img/logos/logo_with_text.png') no-repeat;
	margin: 0 auto;
	width: 269px;
	height: 162px;
	padding-bottom: 95px;
}

#contact_us > div{
	margin: 0 auto;
	position: relative;
}

#contact_us .form_header{
	text-align: center;
	text-transform: uppercase;
	max-width: 1000px;
	padding-bottom: 75px;
}

#contact_us .close_link_container{
	text-align: center;
}

#contact_us .form{
	max-width: 740px;
	margin: 0 auto;
}

#contact_us .form_header h3{
	font-size: 30px;
	font-weight: bold;
	color: #ffffff;
	border-bottom: 6px solid #a2d7f3;
	display: inline-block;
	margin-bottom: 40px;
	padding-bottom: 5px;
}

#contact_us .form_header h2{
	font-size: 36px;
	font-weight: bold;
}

#contact_us .form_header h2{
	color: #ffffff;
}

#contact_us .form_header h2:last-child{
	color: #00476f;
}

#contact_us .form h4{
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 15px 0 6px;
}

#contact_us .form > div{
	margin: 3px;
}

#contact_us .form_input{
	max-width: 360px;
	width: 90%;
	display: inline-block;
	margin: 0 3px;
}

#contact_us input,
#contact_us textarea{
	border: 3px solid #ffffff;
	background-color: transparent;
	font-size: 20px;
	color: #ffffff;
	outline: none;
	padding: 10px;
}

#contact_us input:focus,
#contact_us textarea:focus{
	border: 3px solid #00476f;
}

#contact_us .form_input input[type="text"],
#contact_us .form_input input[type="email"]{
	max-width: 334px;
	width: 100%;
}

#contact_us textarea{
	resize: none;
	max-width: 708px;
	width: 96%;
	height: 246px;
}

#contact_us .form_input input[type="phone"]{
	text-align: center;
	max-width: 74px;
	width: 100%;
	display: inline-block;
}

#contact_us .form_input input[type="phone"]:nth-child(3){
	margin: 0 13px;
}

#contact_us .form_input input[type="phone"]:last-child{
	max-width: 108px;
	width: 100%;
}

#contact_us .form_button{
	text-align: center;
	padding: 40px 0;
}

#contact_us .form_button button{
	background-color: #00476f;
	padding: 25px 40px;
	color: #ffffff;
	text-transform: uppercase;
	border: none;
	font-size: 20px;
	font-weight: bold;
}

#contact_us .form_button button:hover{
	border: 3px solid #ffffff;
	padding: 22px 37px;
}

#contact_us .flash{
	max-width: 750px;
	width: 100%;
	border: 3px solid #ffffff;
	color: #ffffff;
	margin-bottom: 55px;
}

#contact_us .flash .symbol{
	text-align: center;
}

#contact_us .flash .message{
	border-left: 3px solid #ffffff;
}

#contact_us .flash .symbol,
#contact_us .flash .message{
	padding: 40px;
	display: inline-block;
	vertical-align: top;
}

#contact_us .flash .symbol h6,
#contact_us .flash .message h6{
	font-weight: bold;
}

#contact_us .flash .symbol h6{
	font-size: 28px;
}

#contact_us .flash .message h6{
	font-size: 24px;
	line-height: 26px;
}

#contact_us .flash .symbol h6,
#contact_us .flash .message h6 span.italic{
	font-style: italic;
}

#contact_us .flash .message h6:last-child{
	text-transform: uppercase;
}

@media only screen and (max-width: 959px){
	header{
		right: 0;
	}
	header .phone{
		display: none;
	}
	div.header h2,
	#contact_us .form_header h2{
		font-size: 33px;
	}
	div.header h1{
		font-size: 40px;
	}

	#contact_us .form_input,
	#contact_us textarea{
		width: 90%;
	}
}

@media only screen and (max-width: 739px){
	div.header h2,
	#contact_us .form_header h2{
		font-size: 24px;
	}
	div.header h1{
		font-size: 27px;
	}
	button.cta_btn{
		font-size: 17px;
	}

	#contact_us .form_input input[type="phone"]{
		max-width: 40px;
	}
	#contact_us .form_input input[type="phone"]:last-child{
		max-width: 85px;
	}
}