/* Reset */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */

html{
	background-color: #fffff8;
}

body, body button {
	font-family: 'Open Sans', sans-serif;
}

body p{
	font-family: 'Times New Roman', serif;
	text-align: left;
	font-size: 20px;
	white-space: pre-wrap;
	line-height: 26px;
}

body p a{
	color: #52ade1;
	text-transform: uppercase;
}

body p a:hover{
	color: #00476f;
}

span.italic{
	font-style: italic;
}

header{
	position: fixed;
	top: 0;
	right: -72px;
	width: 250px;
	z-index: 99999;
}

header .phone{
	position: absolute;
}

header .phone h6{
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	margin-left: -100%;
	padding: 0 25px 0 0;
	line-height: 76px;
}

header .burger_button{
	text-transform: uppercase;
	color: #00476f;
	font-size: 24px;
	font-weight: bold;
	padding: 26px 30px 26px 74px;
	background-color: #9cd8fc;
	cursor: pointer;
	position: relative;
}

header .burger_button::before{
	content: url('../img/global/burger_icon.png');
	position: absolute;
	margin-left: -45px;
	margin-top: -2px; 
}

header a{
	text-decoration: none;
}

header .slide_nav{
	position: fixed;
	width: 250px;
	background-color: #9cd8fc;
	right: -250px;
	height: 100%;
	padding-top: 76px;
	top: 0;
	z-index: -1;
}

header .slide_nav ul{
	overflow: auto;
}

header .slide_nav li{
	padding: 20px 10px;
	border-top: 1px solid #00476f;
	color: #00476f;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

header .slide_nav a:last-child li{
	border-bottom: 1px solid #00476f;
}

header .slide_nav li:hover{
	background-color: #00476f;
	color: #fffff8;
}

header .contact_us{
	cursor: pointer;
}

button{
	cursor: pointer;
}

button.cta_btn{
	background-color: transparent;
	border: 3px solid #fffff8;
	color: #fffff8;
	padding: 20px;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
}

button.cta_btn:hover{
	background-color: #fffff8;
	color: #52ade1;
}

button.blue_cta_btn{
	background-color: transparent;
	border: 3px solid #52ade1;
	color: #00476f;
	padding: 20px;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
}

button.blue_cta_btn:hover{
	background-color: #52ade1;
	color: #fffff8;
}

#light_box_window{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,30,45,.7);
	display: none;
	opacity: 0;
	z-index: 9999;
}

#light_box_window.default{
	z-index: 99998;
}

#light_box_window #light_box{
	min-width: 300px;
	max-width: 960px;
	padding: 10px;
	background-color: #52ade1;
	margin: 20px auto;
	color: #ffffff;
	text-align: left;
	clear: both;
	transform: rotateY(270deg);
	-webkit-transform: rotateY(270deg);
	transform-style: preserve-3d;
	transition: all 1s;
	-webkit-transition: all 1s;
}

#light_box_window #light_box .close_button{
	font-size: 30px;
	text-align: right;
	float: right;
	cursor: pointer;
	color: #00476f;
}

#light_box_window #light_box h2{
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
}

#light_box_window #light_box p{
	padding: 20px 10px;
}

#content #disclaimer{
	padding-bottom: 100px;
}

footer{
	width: 100%;
	/*position: absolute;
	z-index: 2;
	top: calc(1000px + 1230px + 140px);*/
}

footer .map{
	border-top: 3px solid #52ade1;
	background-color: #fffff8;
	overflow: hidden;
}

footer .map img{
	width: 100%;
}

footer .nav{
	border-top: 3px solid #52ade1;
	border-bottom: 3px solid #52ade1;
	background-color: #fffff8;
	margin-top: -3px;
	overflow: scroll;
}

footer .nav ul{
	/*width: 960px;*/
	width: 1025px;
	margin: 0 auto;
}

footer .nav a{
	padding: 15px 6px;
	color: #52ade1;
}

footer .nav a:first-child{
	padding-left: 0;
}

footer .nav a:last-child{
	padding-right: 0;
}

footer .nav a:last-child li{
	text-decoration: underline;
}

footer .nav a:last-child li img{
	margin-left: 10px;
}

footer .nav a:hover{
	color: #00476f;
}

footer .nav li{
	display: inline-block;
	line-height: 47px;
	font-size: 14px;
	font-weight: bold;
}

footer .nav li img{
	vertical-align: middle;
}

@media only screen and (max-width: 959px){
	header{
		width: auto;
		right: 0;
	}
	header .phone{
		display: none;
	}
	header .burger_button{
		background-color: transparent;
		right: 0;
	}
	header .burger_button::before{
		content: url('../img/global/burger_mobile_icon.png');
		margin-left: -30px;
		overflow: hidden;
		width: 30px;
		height: 30px;
	}
	header .burger_button h6{
		opacity: 0;
		width: 0;
	}

	#light_box_window #light_box h2{
		padding-top: 30px;
	}
}