/* Reset */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of Reset */

body, body button {
	font-family: 'Open Sans', sans-serif;
}

body p{
	font-family: 'Times New Roman', serif;
	text-align: left;
	font-size: 20px;
	white-space: pre-wrap;
	line-height: 26px;
}

span.italic{
	font-style: italic;
}

header{
	position: fixed;
	top: 0;
	right: 0;
	width: 178px;
}

header .burger_button{
	text-transform: uppercase;
	color: #00476f;
	font-size: 24px;
	font-weight: bold;
	padding: 26px 30px 26px 74px;
	background-color: #9cd8fc;
	cursor: pointer;
}

header .burger_button::before{
	content: url('../img/global/burger_icon.png');
	position: absolute;
	margin-left: -45px;
	margin-top: -2px; 
}

header a{
	text-decoration: none;
}

header .slide_nav{
	position: fixed;
	width: 178px;
	background-color: #9cd8fc;
	right: -178px;
	height: 100%;
}

header .slide_nav li{
	padding: 20px 10px;
	border-top: 1px solid #00476f;
	color: #fffff8;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
}

header .slide_nav a:last-child li{
	border-bottom: 1px solid #00476f;
}

header .slide_nav li:hover{
	background-color: #00476f;
}

button{
	cursor: pointer;
}

button.cta_btn{
	background-color: transparent;
	border: 3px solid #fffff8;
	color: #fffff8;
	padding: 20px;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
}

button.cta_btn:hover{
	background-color: #fffff8;
	color: #52ade1;
}

button.blue_cta_btn{
	background-color: transparent;
	border: 3px solid #52ade1;
	color: #00476f;
	padding: 20px;
	text-transform: uppercase;
	font-size: 21px;
	font-weight: bold;
}

button.blue_cta_btn:hover{
	background-color: #52ade1;
	color: #fffff8;
}